.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* min-height: 100vh; */
    min-height: 600px;
  }
  .container > div {
    background-color: rgb(186, 234, 194);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000;
  } 
 /* .plant{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; 
  }  */