<form [formGroup] = "addressForm">
    <legend>Address Information</legend>
   <div>
        <label>Street</label>
        <input type="text" formControlName = "street" />
   </div>
   <div>
        <label>Address Line 2 (Optional)</label>
        <input type="text" formControlName ="addressLine2" />
   </div>
    <div>
        <label>City</label>
        <input type="text" formControlName="city" />
    </div>
    <div>
        <label>State/Province</label>
        <input type="text" formControlName="state" />
    </div>
    <div>
        <label>ZIP/Postal Code</label>
        <input type="text" formControlName="zipCode" />
    </div>
   <div>
        <label>Country</label>
        <input type="text" formControlName = "country" />
   </div>
   <div>
        <label>Phone Number</label>
        <input type="text" formControlName = "pNumber" />
   </div>
</form>
