<form>
    <label>Street</label>
    <input type="text" FormControl = "fname" />
    <label>Address Line 2 (Optional)</label>
    <input type="text" FormControl ="lname" />
    <label>City</label>
    <input type="email" FormControl="email" />
    <label>State/Province</label>
    <input type="password" FormControl="password" />
    <label>ZIP/Postal Code</label>
    <input type="text" FormControl="zipcode" />
    <label>Country</label>
    <input type="text" FormControl = "country" />
    <label>Phone Number</label>
    <input type="text" FormControl = "pnumber" />
</form>
