.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  .grid-container > div {
    background-color: rgb(186, 234, 194);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000;
  } 