<div class="grid-container-signup">
    <div>
         <form>
            <label>First Name</label>
            <input type="text" FormControl = "fname" />
            <label>Last Name</label>
            <input type="text" FormControl ="lname" />
            <label>Email</label>
            <input type="email" FormControl="email" />
            <label>Password</label>
            <input type="password" FormControl="password" />
            <label>Confirm Password</label>
            <input type="password" FormControl="cnpassword" />
         </form>
    </div>
    <div>
        <app-address>
        </app-address>
    </div>
    <div>
        <app-plants-interest></app-plants-interest>
    </div>
</div>
