/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
form div{
    display:flex;
    align-items: center;
    gap:10px;
  }
label {
    width:150px;
    text-align: right;
}
input {
    flex:1;
    margin: 5px;
}